[Unit]
Description=gemini server
After=network.target

[Service]
User=gemini
Restart=always
Type=simple
CapabilityBoundingSet=
RestrictAddressFamilies=AF_INET
ProtectControlGroups=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateUsers=yes
ProtectControlGroups=yes
#ProtectHome=yes
ProtectHostname=yes
#ProtectClock=yes
#ProtectKernelLogs=yes
#ProtectKernelModules=yes
#ProtectKernelTunables=yes
#ProtectProc=invisible
ProtectSystem=strict
#ProcSubset=pid
RestrictNamespaces=yes
RestrictRealtime=yes
NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
LockPersonality=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
UMask=177
SystemCallFilter=~@clock @debug @module @reboot @privileged @cpu-emulation @obsolete @mount @resources
#ReadWritePaths=/var/log/molly/access.log /var/log/molly/error.log
ExecStart=/home/gemini/.cargo/bin/agate --content "/home/gemini/gemini" --addr 0.0.0.0:1965 --hostname johan.egneblad.se --certs "/home/gemini/cert" --serve-secret --lang en-US

[Install]
WantedBy=multi-user.target

#SELINUX
# semanage fcontext -a -t bin_t '/home/gemini/.cargo/bin/agate'
# restorecon -Fv /home/gemini/.cargo/bin/agate
